@use './../../styles/vars';

.leaveadvert {
  margin: 1rem 0 3rem 0;
  padding: 1rem;
  border: 1px solid vars.$main-color;
  border-radius: 8px;
  background-color: vars.$font-transparent-color;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &__label {
      font-size: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      height: 3rem;
      margin: 2rem auto;
    }
    &__input__checkbox {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }
    &__caution {
      color: vars.$main-color;
      font-size: 1rem;
      text-align: center;
      margin: 1rem auto 1.5rem auto;
    }
    &__button {
      font-family: vars.$main-font;
      padding: 1rem;
      font-size: 1rem;
      background-color: vars.$main-color;
      color: vars.$font-color;
      border: none;
      border-radius: 0.5rem;
      &:hover {
        border: 1px solid vars.$main-color;
        background-color: vars.$font-color;
        color: vars.$main-color;
      }
    }
  }
  &__info {
    color: vars.$main-color;
    font-size: 0.8rem;
    &.success {
      color: rgba(0, 128, 0, 0.699);
      text-align: center;
      font-size: 1.5rem;
      margin: 2rem auto;
    }

    &.danger {
      color: rgba(255, 0, 0, 0.699);
      text-align: center;
      font-size: 1.5rem;
      margin: 2rem auto;
    }
  }
}

@media screen and (min-width: 1300px) {
  .leaveadvert {
    margin: 2rem 20rem 5rem 20rem;
    box-shadow: 1px 1px 5px vars.$dark-color;
    &__form {
      &__label {
        font-size: 1.1rem;
      }
      &__input__checkbox {
        width: 1.5rem;
      }
    }
  }
}
