@use './../../styles/vars';

.welcome {
  height: 100vh;
  width: 100vw;
  &__logo {
    display: block;
    margin: 0 auto 1rem auto;
    width: 50%;
    object-fit: cover;
  }
  &__video {
    display: none;
  }
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    text-align: center;
    margin: 0 auto 1.5rem auto;
    font-size: 1.5rem;
    &--link {
      padding: 0.5rem;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;
      border: 2px solid vars.$main-color;
      background-color: vars.$font-transparent-color;
      color: vars.$main-color;
      width: 50%;
    }
  }
}
.presentation {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  display: block;
  margin: 0 auto 4rem auto;
  text-align: center;
}

.form {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  &__input--service {
    width: 70%;
    padding: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    border-top: 1px solid vars.$main-color;
    border-bottom: 1px solid vars.$main-color;
    border-left: 1px solid vars.$main-color;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: 3rem;
  }
  &__input--zip {
    width: 30%;
    padding: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    border-top: 1px solid vars.$main-color;
    border-bottom: 1px solid vars.$main-color;
    border-right: 1px solid vars.$main-color;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 3rem;
  }
  &__button {
    width: 120px;
    display: block;
    margin: 1rem auto 3rem auto;
    padding: 1rem;
    color: vars.$font-color;
    border: none;
    border-radius: 5px;
    background-color: vars.$main-color;
    font-family: 'Josefin Sans', sans-serif;
  }
}

@media screen and (min-width: 800px) {
  .welcome {
    &__logo {
      position: absolute;
      width: 18%;
      top: -8%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &__video {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &__links {
      backdrop-filter: blur(5px);
      border: 1px solid transparent;
      margin: 0;
      padding: 1rem 0 1.5rem 0;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      position: absolute;
      bottom: 0;
      flex-direction: row;
      height: auto;
      width: 50%;
      left: 25%;
      color: vars.$background-color;
      &--link {
        padding: 0;
        margin-bottom: 0;
        border: none;
        background-color: transparent;
        color: vars.$font-color;
      }
    }
  }
  .presentation {
    backdrop-filter: blur(5px);
    border: 1px solid transparent;
    border-radius: 1rem;
    width: 80%;
    position: absolute;
    padding: 1rem;
    top: 17%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1.7rem;
    color: vars.$font-color;
    text-shadow: 2px 2px 3px vars.$dark-color;
    margin: 0 auto 3rem auto;
  }
  .form {
    position: absolute;
    width: 30%;
    left: calc(50% - (30% / 2));
    top: 75%;
    &__input--service {
      height: 2.5rem;
    }
    &__input--zip {
      height: 2.5rem;
    }
  }
}
