@use "sass:color";
/* COLORS */

$background-color: #d2d2d2;
$font-color: #FFFBFE;
$font-transparent-color: #fffbfebb;
$font-card-color: color.scale($font-color, $blackness: +15%);
$font-transparent-card-color: color.adjust($font-card-color, $alpha: -0.2);
$main-color: #6667AB;
$font-transparent-main-color: color.adjust($main-color, $alpha: -0.5);
$dark-main-color: color.scale($main-color, $lightness: -40%);
$soft-color: #838E83;
$dark-color: #2A2E45;
$dark-main-color: color.scale($main-color, $lightness: -40%);

// Police
$main-font: 'Josefin Sans', sans-serif;
