@use 'reset';
@use 'vars';

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 62.5%;
  background-color: vars.$background-color;
  color: vars.$dark-color;
  background-image: url('../assets/images/drop-paint-background.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom 150% right 57%;
}

@media screen and (min-width: 800px) {
  body {
    background-position: -30% 35%;
    background-size: 150%;
  }
}

@media screen and (min-width: 800px) {
  body {
    overflow-x: hidden;
  }
}
