@use './../../styles/vars';

.main {
  padding: 0 .5rem;
  &__title {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-left: .7rem;
    color: vars.$main-color;
  }
}

@media screen and (min-width: 1300px) {
  .main {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
