@use './../../styles/vars';

.login__form {
  position:fixed;
  z-index: 30;
  background-color: vars.$font-color;
  right: -50rem;
  transition: right .4s;
  top: 0%;
  height: 22rem;
  width: 100%;
  margin: 0 0 1rem .3rem;
  border-top: 1px solid vars.$main-color;
  border-bottom: 1px solid vars.$main-color;
  border-left: 1px solid vars.$main-color;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  

  &__close {
    float: right;
    color: vars.$font-color;
    background-color: vars.$main-color;
    border: none;
    border-radius: 2px;
    margin-top: .5rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: both;
  }

  &__message {
    margin: .3em 1em;
  }

  &__logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__button {
    font-size: 1rem;
    color: #fff;
    background-color: vars.$main-color;
    border-radius: .3em;
    border: 0;
    width: 10rem;
    padding: .7em;
    height: 3.5em;
    margin-top: 1rem;
    font-family: vars.$main-font;
  }
  &--open {
    right: 0;
    transform: right .4s;
  }
  &__message {
    color: red;
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
  }
}

.field {
  margin: .3em .3em 1rem 0;
  position: relative;

  &__input {
    width: 17rem;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: .3em;
    height: 4em;
    font-family: vars.$main-font;

    &:focus {
      border-color: vars.$main-color;

      & + .field__label {
        color: vars.$main-color;
      }
    }
  }
  &__label {
    display: none;
    position: absolute;
    top: .2rem;
    left: .7rem;
    color: #999;
    text-transform: uppercase;
    animation: labelSlideUpAndShow .3s;
    font-size: .6rem;
  }


  &--has-content {
    .field__label {
      display: block;
    }
    .field__input {
      padding: 1.4em .7em .4em;
    }
  }
}


@keyframes labelSlideUpAndShow{
  0% {
    transform: translateY(1em);
    opacity: 0;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}

@media screen and (min-width: 800px) {
  .login__form {
    width: 47.6rem;
    top: 0;
    height: 3.3rem;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-right-radius: 0rem;
    &__element {
      flex-direction: row;
      justify-content: end;
      height: 4rem;
      clear: none;
    }
    &__button {
      margin-top: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      height: 2.5rem;
      font-size: 1rem;
      padding: 0%;
      margin-bottom: .9rem;
    }
    &__close {
      height: 2.5rem;
      margin-top: .3rem;
      width: 2.5;
      border-radius: 0;
    }
    &__message {
      margin-top: .5rem;
      font-size: 1.3rem;
      text-shadow: 1px 1px 1px vars.$font-color;
    }
  }
  .field {
    &__input {
      height: 2.5rem;
    }
  }
}
