@use './../../styles/vars';

.main {
  padding: 0 .5rem;
  &__title {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-left: .7rem;
    color: vars.$main-color;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: vars.$font-card-color;
  border-radius: 5px;
  margin-bottom: 1rem;
  max-height: 12rem;
  overflow: hidden;
  &__container {
    width: 30%;
    height: 6.5rem;
    &__image {
      width: 100%;
      height: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  &__description {
    width: 70%;
    padding: .5rem;
    height: 6rem;    
    &__title {
      font-size: 1.3rem;
      margin-bottom: .5rem;
    }
    &__resume {
      max-height: 3.9rem;
      font-size: .8rem;
      overflow: hidden
    }
  }
  &__skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: .3rem;
    &__skill {
      font-size: .8rem;
      margin-top: .3rem;
      display: block;
      background-color: vars.$main-color;
      color: vars.$font-color ;
      border-radius: 5px;
      padding: .2rem;
    }
  }
}

@media screen and (min-width: 1300px) {
  .main {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}

@media screen and (min-width: 800px) {
  .cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  .card {
    margin: 0 3rem 2rem 3rem;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 15%;
    max-height: 22rem;
    position: relative;
    transition-duration: 1s;
    &:hover {
      box-shadow: 5px 5px 5px vars.$font-card-color;
      transform: scale(1.02);
      transition-duration: .3s;
    }
    &__container {
      width: 100%;
      height: 50%;
      &__image {
        height: 9rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
      }
    }
    &__description {
      object-fit: contain;
      width: 100%;
      height: 8rem;
      &__title {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 1%;
        color: vars.$font-color;
        text-shadow: 2px 2px 3px vars.$dark-color;
        font-size: 1.2rem;
        padding: 0 1rem;
      }
      &__resume {
        font-size: 1rem;
        text-align: center;
        max-height: 6.9rem;
        
      }
    }
  }
}
