@use './../../styles/vars';

.main {
  padding: 0 0.5rem 2rem 0.5rem;
  &__title {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-left: 0.7rem;
    color: vars.$main-color;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: vars.$font-transparent-color;
  border-radius: 5px;
  margin-bottom: 1rem;
  min-height: 6.5rem;
  max-height: 12rem;
  overflow: hidden;
  &__container {
    width: 30%;
    height: 6.5rem;
    margin-bottom: 0.3rem;
    position: relative;
    &__image {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &__city {
      position: absolute;
      bottom: 11%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      background-color: vars.$font-transparent-color;
      border-radius: 0.3rem;
      color: vars.$dark-color;
      padding: 0.1rem;
      text-shadow: 1px 1px 2px vars.$dark-color;
    }
    &__code {
      position: absolute;
      bottom: -5%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.9rem;
      background-color: vars.$font-transparent-color;
      border-radius: 0.3rem;
      color: vars.$dark-color;
      padding: 0.1rem;
      text-shadow: 1px 1px 2px vars.$dark-color;
    }
  }
  &__description {
    width: 70%;
    padding: 0.5rem;
    height: 6rem;
    &__title {
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
      height: 1.15rem;
      overflow: hidden;
      color: vars.$dark-main-color;
    }
    &__resume {
      max-height: 4.7rem;
      font-size: 0.8rem;
      overflow: hidden;
    }
  }
  &__skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__skill {
      text-align: center;
      font-size: 0.8rem;
      margin: 0rem 0.3rem 0.3rem 0.3rem;
      display: block;
      background-color: vars.$main-color;
      color: vars.$font-color;
      border-radius: 5px;
      padding: 0.2rem;
    }
  }
}

@media screen and (min-width: 1300px) {
  .main {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}

@media screen and (min-width: 800px) {
  .cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    &__link {
      display: flex;
      width: 17%;
      margin: 1rem 2rem 1rem 2rem;
    }
  }
  .card {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-height: 22rem;
    position: relative;
    transition-duration: 1s;
    &:hover {
      box-shadow: 2px 2px 10px black;
      animation: wiggle 2s linear infinite;
    }
    &__container {
      width: 100%;
      height: 12rem;
      &__image {
        // filter: brightness(85%);
        width: 100%;
        height: 12rem;
        object-fit: cover;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
      }
      &__city {
        bottom: 9.3%;
        left: 5%;
        transform: none;
        font-size: 1.5rem;
        border-bottom-left-radius: 0;
        color: vars.$background-color;
        background-color: transparent;
      }
      &__code {
        position: absolute;
        bottom: 0;
        left: 5%;
        transform: none;
        font-size: 0.9rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: vars.$background-color;
        background-color: transparent;
      }
    }
    &__description {
      object-fit: contain;
      width: 100%;
      height: 8rem;
      &__title {
        position: absolute;
        width: 100%;
        height: auto;
        text-align: center;
        top: 1%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: vars.$font-color;
        text-shadow: 2px 2px 2px vars.$dark-color;
        font-size: 1.2rem;
        padding: 0 1rem;
      }
      &__resume {
        font-size: 1rem;
        text-align: center;
        max-height: 4.9rem;
      }
    }
    &__skills {
      min-height: 2.8rem;
      max-height: 2.8rem;
      overflow: hidden;
      margin-bottom: 0.9rem;
      align-content: flex-end;
      &__skill {
        margin: 0.1rem 0.2rem;
      }
    }
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-10deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
