@use './../../../styles/vars';

.action {
  position: fixed;
  z-index: 22;
  width: 3rem;
  height: 3rem;
  top: .8rem;
  left: .8rem;
}

.notif::after {
  content: '';
  position:absolute;
  top: .3rem;
  min-width: .3rem;
  min-height:.3rem;
  padding:.3rem;
  background-color:#bf1f1f;
  border-radius: 50%;
}

.notif-li::after {
  content: '';
  position:absolute;
  left: 0.9rem;
  top: 10.7rem;
  min-width: .3rem;
  min-height:.3rem;
  padding:.3rem;
  background-color:#bf1f1f;
  border-radius: 50%;
}

.action .profile {
  position: relative;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: contents;
}

.action .profile img {
  border-radius: 6rem;
  position: absolute;
  object-fit: cover;
  max-width: 3rem;
  max-height: 3rem;
  // width: 100%;
}

.action .profiles__menu {
  position: absolute;
  top: 12em;
  padding: 1em 2em;
  background-color: vars.$font-color;
  width: 20em;
  box-sizing: 0 .5em 2.5em rgba(0, 0, 0, 0.1);
  border-radius: 1.5em;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s;
}

.action .profiles__menu.active {
  top: 4rem;
  left: -.3rem;
  visibility: visible;
  opacity: 1;
  transition: opacity .2s;
}

.action .profiles__menu::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 20px;
  height: 20px;
  background: vars.$main-color;
  transform: rotate(45deg);
}

.action .profiles__menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: vars.$main-color;
  line-height: 1.5em;
}

.action .profiles__menu h3 span {
  font-size: 14px;
  color: vars.$main-color;
  font-weight: 300;
}

.action .profiles__menu .profiles__menu__links .profiles__menu--link {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .profiles__menu .profiles__menu__links .profiles__menu--link img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .profiles__menu .profiles__menu__links .profiles__menu--link:hover img {
  opacity: 1;
}

.action .profiles__menu .profiles__menu__links .profiles__menu--link .profiles__menu__link--span {
  display: inline-block;
  text-decoration: none;
  color: vars.$main-color;
  font-weight: 500;
  transition: 0.5s;
  font-size: large;
}

.action .profiles__menu .profiles__menu__links .profiles__menu--link:hover .profiles__menu__link--span {
  color: vars.$dark-main-color;
}

.isActive {
  transform: scale(1.10);
  box-shadow: .1em -.1em 1em vars.$dark-main-color, .2em .1em 1em vars.$dark-main-color;
}

@media only screen and (min-width: 1200px) {
  .action {
    left: .5rem;
    top: 1.5rem;
    position: relative;
    width: 4rem;
  }

  .action .profiles__menu.active {
    top: 5rem;
    left: -8rem;
  }

  .action .profile img {
    max-width: 4rem;
    max-height: 4rem;
  }

  .action .profiles__menu {
    left: -8rem;
    top: 10rem;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }

  .action .profiles__menu::before {
    right: 2.8em;
  }

  .profile:hover {
    transform: scale(1.10);
    box-shadow: .3em -.3em .3em vars.$main-color, .3em .3em .3em vars.$main-color;
  }

  .notif::after {
    top: 0rem;
    right: 0.5rem;
  }
}
