@use "./../../../styles/vars";

.footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: vars.$font-transparent-color;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 2.5em;
  &__link {
    // margin: 0 2rem;
    display: block;
    text-align: center;
    color: vars.$main-color;
    font-size: 1rem;
    &:hover {
      color: vars.$dark-color;
    }
  }
}

@media screen and (min-width: 800px) {
  .footer {
    height: 4em;
    &__link {
      font-size: 1.1rem;
    }
  }
}
